body {
    background-image: url("https://images.unsplash.com/photo-1495854544774-960863c76ed3?w=1355");
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    
}

.toDoIn {
    width: 600px;
}

.dateDue {
    width: 200px;
}

.header {
    height: auto;
    background-color: #F06060;
}

.showItem {
    display: none;
}

.save {
    display: none;
}

.header {
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

.btn {
    height: 30px;
    width: 80px;
}

.inputs {
    margin-top: 20px;
}

.todos {
    margin-top: 20px;
}

.container {
    background-color: #FF6666;
}

