/* Classes for edit/save toggle */
.showItem {
    display: none;
}

.save {
    display: none;
}
/* End classes for edit/save toggle */
/* Inputs */
.toDoIn {
    width: 600px;
}

.dateDue {
    width: 200px;
}
/* END Inputs */

body {
    background-image: url("https://images.unsplash.com/photo-1495854544774-960863c76ed3?w=1355");
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif; 
}

.container {
    background-color: rgba(255, 102, 102, 0.90);;
}

.header {
    height: auto;
    background-color: #5C4B51;
    color: #F2EBBF;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

.header small {
    color: #8CBEB2;
    font-size: 18px;
}

.inputs {
    margin: 10px;
}

.btn {
    height: 30px;
    width: 80px;
    background-color: #5C4B51;
    color: #F2EBBF;
    font-family: 'Roboto', sans-serif;
    border: none;
    text-shadow: none;
}

.btn:hover{
   background-color: #F2EBBF; 
   color: #5C4B51;
}

#saveBtn {
    background-color: #8CBEB2;
}

#saveBtn:hover {
    background-color: #F2EBBF;
}

.th {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

tr {
    height: 50px;
}

#tableTopper {
  font-family: 'Pacifico', cursive;
  font-size: 20px;  
}
